In [ ]:
#Imports
import pandas as pd
import os
import json
import sqlite3

In [3]:
df = pd.read_csv("data/cosmetic_p.csv")
df.head()
df.info()
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1472 entries, 0 to 1471
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Label        1472 non-null   object
 1   brand        1472 non-null   object
 2   name         1472 non-null   object
 3   price        1472 non-null   int64
 4   rank         1472 non-null   float64
 5   ingredients  1472 non-null   object
 6   Combination  1472 non-null   int64
 7   Dry          1472 non-null   int64
 8   Normal       1472 non-null   int64
 9   Oily         1472 non-null   int64
 10  Sensitive    1472 non-null   int64
dtypes: float64(1), int64(6), object(4)
memory usage: 126.6+ KB

,Label,brand,name,price,rank,ingredients,Combination,Dry,Normal,Oily,Sensitive
count,1472,1472,1472,1472.000000,1472.000000,1472,1472.00000,1472.000000,1472.000000,1472.000000,1472.000000
unique,6,116,1472,NaN,NaN,1337,NaN,NaN,NaN,NaN,NaN
top,Moisturizer,CLINIQUE,Crème de la Mer,NaN,NaN,No Info,NaN,NaN,NaN,NaN,NaN
freq,298,79,1,NaN,NaN,23,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,55.584239,4.153261,NaN,0.65625,0.614130,0.652174,0.607337,0.513587
std,NaN,NaN,NaN,45.014429,0.633918,NaN,0.47512,0.486965,0.476442,0.488509,0.499985
min,NaN,NaN,NaN,3.000000,0.000000,NaN,0.00000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,30.000000,4.000000,NaN,0.00000,0.000000,0.000000,0.000000,0.000000
50%,NaN,NaN,NaN,42.500000,4.300000,NaN,1.00000,1.000000,1.000000,1.000000,1.000000
75%,NaN,NaN,NaN,68.000000,4.500000,NaN,1.00000,1.000000,1.000000,1.000000,1.000000
max,NaN,NaN,NaN,370.000000,5.000000,NaN,1.00000,1.000000,1.000000,1.000000,1.000000

In [5]:
df = pd.read_csv("data/beauty_feeds.csv")
df.head()
df.info()
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1538 entries, 0 to 1537
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   uniq_id      0 non-null      float64
 1   type         1029 non-null   object
 2   brand        1536 non-null   object
 3   name         1538 non-null   object
 4   price        1518 non-null   float64
 5   ingredients  1292 non-null   object
dtypes: float64(2), object(4)
memory usage: 72.2+ KB

,uniq_id,type,brand,name,price,ingredients
count,0.0,1029,1536,1538,1518.000000,1292
unique,NaN,496,482,1501,NaN,1230
top,NaN,Shampoo & Conditioner,Pai,Travel Size Leave-In Conditioner,NaN,PU+sponge
freq,NaN,115,71,2,NaN,8
mean,NaN,NaN,NaN,NaN,48.560395,NaN
std,NaN,NaN,NaN,NaN,78.016264,NaN
min,NaN,NaN,NaN,NaN,0.000000,NaN
25%,NaN,NaN,NaN,NaN,14.000000,NaN
50%,NaN,NaN,NaN,NaN,27.000000,NaN
75%,NaN,NaN,NaN,NaN,55.997500,NaN
max,NaN,NaN,NaN,NaN,1348.000000,NaN

In [6]:
df = pd.read_csv("data/cscpopendata.csv")
df.head()
df.info()
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114635 entries, 0 to 114634
Data columns (total 22 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   CDPHId                  114635 non-null  int64
 1   ProductName             114635 non-null  object
 2   CSFId                   80662 non-null   float64
 3   CSF                     80237 non-null   object
 4   CompanyId               114635 non-null  int64
 5   CompanyName             114635 non-null  object
 6   BrandName               114408 non-null  object
 7   PrimaryCategoryId       114635 non-null  int64
 8   PrimaryCategory         114635 non-null  object
 9   SubCategoryId           114635 non-null  int64
 10  SubCategory             114635 non-null  object
 11  CasId                   114635 non-null  int64
 12  CasNumber               108159 non-null  object
 13  ChemicalId              114635 non-null  int64
 14  ChemicalName            114635 non-null  object
 15  InitialDateReported     114635 non-null  object
 16  MostRecentDateReported  114635 non-null  object
 17  DiscontinuedDate        12920 non-null   object
 18  ChemicalCreatedAt       114635 non-null  object
 19  ChemicalUpdatedAt       114635 non-null  object
 20  ChemicalDateRemoved     2985 non-null    object
 21  ChemicalCount           114635 non-null  int64
dtypes: float64(1), int64(7), object(14)
memory usage: 19.2+ MB

,CDPHId,ProductName,CSFId,CSF,CompanyId,CompanyName,BrandName,PrimaryCategoryId,PrimaryCategory,SubCategoryId,...,CasNumber,ChemicalId,ChemicalName,InitialDateReported,MostRecentDateReported,DiscontinuedDate,ChemicalCreatedAt,ChemicalUpdatedAt,ChemicalDateRemoved,ChemicalCount
count,114635.000000,114635,80662.000000,80237,114635.000000,114635,114408,114635.000000,114635,114635.000000,...,108159,114635.000000,114635,114635,114635,12920,114635,114635,2985,114635.000000
unique,NaN,33716,NaN,34326,NaN,606,2713,NaN,13,NaN,...,125,NaN,123,2274,2178,991,2320,2326,524,NaN
top,NaN,Eyecolor,NaN,Black,NaN,L'Oreal USA,SEPHORA,NaN,Makeup Products (non-permanent),NaN,...,13463-67-7,NaN,Titanium dioxide,10/13/2009,12/30/2010,10/02/2016,10/13/2009,10/13/2009,12/14/2009,NaN
freq,NaN,766,NaN,247,NaN,5747,3394,NaN,75827,NaN,...,93049,NaN,93480,2557,18127,1454,2742,2645,159,NaN
mean,20304.858987,NaN,32608.658377,NaN,450.641532,NaN,NaN,51.076294,NaN,66.819252,...,NaN,32837.556959,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.288359
std,12489.052554,NaN,19089.443910,NaN,409.533093,NaN,NaN,20.474341,NaN,35.822097,...,NaN,20439.412299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.636418
min,2.000000,NaN,1.000000,NaN,4.000000,NaN,NaN,1.000000,NaN,3.000000,...,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25%,8717.000000,NaN,15789.000000,NaN,86.000000,NaN,NaN,44.000000,NaN,48.000000,...,NaN,13990.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
50%,20895.000000,NaN,32541.000000,NaN,297.000000,NaN,NaN,44.000000,NaN,52.000000,...,NaN,32055.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
75%,31338.500000,NaN,48717.750000,NaN,798.000000,NaN,NaN,59.000000,NaN,65.000000,...,NaN,51578.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
max,41524.000000,NaN,65009.000000,NaN,1391.000000,NaN,NaN,111.000000,NaN,172.000000,...,NaN,68074.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.000000